

a {
    color: white;
    transition: all .5s ease;
    text-decoration: none !important;
}



/*UserMenu*/
body {
    font-family: 'Roboto', sans-serif !important;
    color: #555555;
}

.icons-size{
    color: #333;
    font-size: 14px;
}
.action{
    position: relative;
    right: 50px;
    top:0 !important;
}
.action .profile{
    border-radius: 50%;
    cursor: pointer;
    height: 40px;
    overflow: hidden;
    position: relative;
    width: 40px;
}
.action .profile img{
    width: 100%;
    top:0;
    position: absolute;
    object-fit: cover;
    left: 0;
    height: 100%;
}
.action .menu{
    background-color:#FFF;
    box-sizing:0px 5px 25px rgba(0,0,0,0.1);
    border-radius: 15px;
    padding: 10px 10px;
    position: absolute;
    right: -60px;
    width: 200px;
    transition: 0.5s;
    top: 0px;
    visibility: hidden;
    opacity: 0;
}
.action .menu.active{
    opacity: 1;
    top: 80px;
    visibility: visible;
}
.action .menu::before{
    background-color:#fff;
    content: '';
    height: 20px;
    position: absolute;
    right: 30px;
    transform:rotate(45deg);
    top:-5px;
    width: 20px;
}
.action .menu h3{
    color: #555;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.3em;
    padding: 20px 0px;
    text-align: left;
    width: 100%;
}
.action .menu h3 div{
    color: #818181;
    font-size: 14px;
    font-weight: 400;
}
.action .menu ul li{
    align-items: center;
    border-top:1px solid rgba(0,0,0,0.05);
    display: flex;
    justify-content: left;
    list-style: none;
    padding: 10px 0px;
}
.action .menu ul li img{
    max-width: 20px;
    margin-right: 10px;
    opacity: 0.5;
    transition:0.5s
}
.action .menu ul li a{
    display: inline-block;
    color: #555;
    font-size: 14px;
    font-weight: 600;
    padding-left: 15px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
}
.action .menu ul li:hover img{
    opacity: 1;
}
    .action .menu ul li:hover  {
        color: #2eca6a;
    }
/*
CSS thông tin khach hàng*/


/*CSS shopping cart*/



@media (min-width: 576px) {
}
@media (min-width: 768px) {
    
}

@media (min-width: 768px) and (min-width: 768px) {
   
}

@media (min-width: 768px) and (min-width: 992px) {
   
}

@media (min-width: 992px) {
  
}

@media (min-width: 1200px) {
    .dropdown{
        display:none;
    }
}


@media (max-width: 1200px) {
    .action {
        display: none;
    }

    .dropdown {
        display: block;
    }
    #avatar_thongtinkhachhang{
        height:100px !important;
        width:100px !important;
    }
}
@media (max-width: 991px) {
   
}


@media (max-width: 768px) {
    
}

@media (max-width: 767px) {
    
  
}

@media (max-width: 575px) {
  
}

/*LoadingMore*/
